.title {
  color: #02ccba;
}

header{
  height:100px;
  width:rgba(255, 0, 0, 0.5);x;
  background-color:green;
  color:white;
}

.header-logo{
  font-size: 45px;
  float:left;
}

.header-list{

}

.header-list p{
  float:right;
  padding:5px;
}
